.carousel {
  position: relative;
  text-align: center;
}

.text-image {
  bottom: 0;
  /*position: absolute;*/
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.carousel img {
  margin-bottom: 30px;
  width: auto;
}
