.carousel {
    height: 200px;
    position: relative;
}


.text-image{
    bottom: 0;
    position: absolute;
    background: rgba(255,255,255,0.5)
}

.carousel img{
    height: 200px;
    width: auto;
}
