<div class="row container-fluid pt-3">
  <div class="col-md-6 p-4">

    <div class="mb-3">
      <h4>Contact Me</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore maxime facilis, unde neque, rerum, vero
        incidunt ad ullam delectus quod natus non molestiae reiciendis quas. Aliquid quis iste illo odio.
      </p>
    </div>

    <div class="row px-5 mb-4">
      <div class="col-md-4"><img class="social-icon" src="../../assets/linkedin.png" alt="ln"></div>
      <div class="col-md-4"><img class="social-icon" src="../../assets/tw.png" alt="tw"></div>
      <div class="col-md-4"><img class="social-icon" src="../../assets/Instagram.png" alt="ig"></div>
    </div>

  </div>

  <div class="col-md-6">
    <form class="contact-form p-4" [formGroup]="form">
      <div class="form-group">
        <label for="fullnameInput">Nombre y Apellido</label>
        <input type="text" class="form-control" id="fullnameInput" [ngClass]="{'is-invalid': isInvalid('name')}" placeholder="Nombre y Apellido" formControlName="name">
        <div class="invalid-feedback" *ngIf="isInvalid('name')">
          Por favor ingresa un nombre.
        </div>
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" [ngClass]="{'is-invalid': isInvalid('email')}" id="emailInput" placeholder="direccion@email.com" formControlName="email">
        <div class="invalid-feedback" *ngIf="isInvalid('email')">
          Por favor ingresa un mail. 
        </div>
      </div>

      <div class="form-group">
        <label for="commentsInput">Comentario</label>
        <textarea class="form-control" id="commentsInput" rows="4" formControlName="comment"></textarea>
      </div>
      <button type="button" value="Input" class="btn btn-dark" (click)="send()" [disabled]="!form.valid">Enviar</button>
    </form>
  </div>

</div>