<section class="posts">
  <article class="post">
    <div class="heade_post py-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 py-3">
            <a href="#">TITULO POST</a>
        </h5>
        <small>hace 3 dias</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit...</p>
      <small>Vanessa Tego Calderon</small>
    </div>
  </article>
  <article class="post">
      <div class="heade_post py-3">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 py-3">
              <a href="#">TITULO POST</a>
          </h5>
          <small>hace 3 dias</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit...</p>
        <small>Vanessa Tego Calderon</small>
      </div>
    </article>
</section>