<app-carousel></app-carousel>

<div  *ngIf="articles.length == 0">Cargando...</div>
<div *ngIf="articles.length > 0">
  <div class="py-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of articles">
        <div class="card h-100 mb-4 mx-auto card-home">
          <img class="card-img-top w-100 h-auto" [src]="element.url" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{element.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>