.main-header {
 /* background-image: url("../../assets/textdifuminad.jpg");*/
  background-image: linear-gradient(to right, rgba(243, 123, 123, 0), rgb(230, 84, 84));
  background-color: #d46969;
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container     */
  /*background-image: linear-gradient(to top, rgba(100,0,0,0), rgba(255,0,0,1));*/
  padding: 2em 3em;

  &__box {
    font-family: 'Armata';
    padding-top: 5%;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
  }


  &__title,
  &__subtitle {
    text-align: center;
    color: rgb(245, 241, 241);
  }
}
.card-home {
  background-color: rgb(247, 235, 242);
  max-width: 350px;
  overflow: hidden; /*The overflow is clipped, and the rest of the content will be invisible*/
}
